extends ../templates/layout.pug


block body
    h1 hallo vom body wuerth
    h1 Schrauben Daten
    each daten in daten
      p= daten.Hersteller
      p= daten.Schraube
      p= daten.Preis
      p= daten.VerkaufteMenge
      p= daten.Datum


block footer